{%extends 'partial/base.html'%}
{%block content%}
{%include 'partial/nav.html'%}
<div class='container-fluid'>
    <div class='card'>
        <div class='row 'id=''>
            <div class='col-3 d-none d-lg-block d-md-block' id='classbody'>
                <div class='card'id='classbody'>
                    <center>
                        <div class='my-4'>
                            <img class='gmi' src="/media/Untitled-12.jpg" alt='logo' id'img123' height='100px' width='100px'>
                        </div>
                    <div class='card col-7 justify-center' id='sizing'>
                        <div class='col'>
                            <div class='card-header '><a class='nav-link text-black' href="{%url 'level_100'%}">Documents</a>
                            </div>
                            <div class='card-header '><a class='nav-link text-black'href="{%url 'software'%}">Softwares</a>
                            </div>
                            <div class='card-header '><a class='nav-link text-black' height='10px'href="{%url 'video' %}">Videos</a>
                            </div>
                            <div class='card-header ' height='10px' ><a class='nav-link text-black' href="#">All Members</a>
                            </div>
                        </div>
                    </div>
                    </center>
                </div>
            </div>
            <div class='col w-sm-100' id='geomaticbody'>
                <div class=' containe bg-light'>
                    <div class='row row-cols-1 row-cols-lg-2'>
                        {%if not query%}
                        <div class='col'>
                            <div class='card my-4 shadow'>
                                <div class='card-header'>
                                    level 100
                                </div>
                                {%for level in l_100%}
                                    {%if level.level_1%}
                                    <div class='row'>
                                        <div class='col-9'>
                                        <a href="{{level.Document.url}}">{{level.Document_name}}</a>
                                        </div>
                                        <div class='col-3'>
                                        <a href="{{level.Document.url}}" download>download</a>
                                        </div>
                                    </div>
                                        Year: {{level.Year}}
                                        Semester: {{level.Semester}}
                                        {{level.date_added}}
                                        Uploaded by: {{level.author}}
                                        <hr>
                                    {%endif%}
                                {% endfor %}
                            </div>
                        </div>
                        <div class='col'>
                            <div class='card my-4 shadow'>
                                <div class='card-header'>
                                    level 200
                                </div>
                                {%for level in l_100%}
                                {%if level.level_2%}
                                <div class='row'>
                                    <div class='col-9'>
                                    <a href="{{level.Document.url}}">{{level.Document_name}}</a>
                                    </div>
                                    <div class='col-3'>
                                    <a href="{{level.Document.url}}" download>download</a>
                                    </div>
                                </div>
                                    Year: {{level.Year}}
                                    Semester: {{level.Semester}}
                                    {{level.date_added}}
                                    Uploaded by: {{level.author}}
                                    <hr>
                                {%endif%}
                            {% endfor %}
                            </div>
                        </div>
                        <div class='col'>
                            <div class='my-4 card shadow'>
                            <div class='card-header'>
                                level 300
                            </div>
                            {%for level in l_100%}
                                {%if level.level_3%}
                                <div class='row'>
                                    <div class='col-9'>
                                    <a href="{{level.Document.url}}">{{level.Document_name}}</a>
                                    </div>
                                    <div class='col-3'>
                                    <a href="{{level.Document.url}}" download>download</a>
                                    </div>
                                    </div>
                                    Year: {{level.Year}}
                                    Semester: {{level.Semester}}
                                    {{level.date_added}}
                                    Uploaded by: {{level.author}}
                                {%endif%}
                            {% endfor %}
                            </div>
                        </div>
                        <div class='col'>
                            <div class='my-4 card shadow'>
                            <div class='card-header'>
                                level 400
                            </div>
                            {%for level in l_100%}
                                {%if level.level_4%}
                                <div class='row'>
                                    <div class='col-9'>
                                    <a href="{{level.Document.url}}">{{level.Document_name}}</a>
                                    </div>
                                    <div class='col-3'>
                                    <a href="{{level.Document.url}}" download>download</a>
                                    </div>
                                    </div>
                                    Year: {{level.Year}}
                                    Semester: {{level.Semester}}
                                    {{level.date_added}}
                                    Uploaded by: {{level.author}}
                                body<br>
                                {%endif%}
                                {% endfor %}
                            </div>
                        </div>
                        {%else%}
                        {%if query%}
                        <div class='col'>
                        {%if results%}
                            {%for search in results%}
                            <div class='row'>
                                <div class='col'>
                                <a href="{{search.Document.url}}">{{search.Document_name}}</a>
                                </div>
                                <div class='col'>
                                <a class='btn btn-primary'href="{{search.Document.url}}" download>download</a>
                                </div>
                                </div>
                                Year: {{search.Year}}
                                Semester: {{search.Semester}}
                                {{search.date_added}}
                                Uploaded by: {{search.author}}
                            {%endfor%}
                            {%else%}
                            <div class='d-flex fixed-center alert alert-info'>
                            no results
                            </div>
                            {%endif%}
                        </div>
                        {%endif%}
                        {%endif%} 
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}