{% extends 'partial/base.html'%}
{%block content%}
{%include 'partial/nav.html'%}
    <div class='cov'>
        <div class='row mt-5 pt3'>
          <div class='col-lg-3 col-md-5 col-sm-7 offset-md-3 offset-lg-6 offset-sm-2'>
            <div class='card w-100 bg-transparent my-6 shadow'>
              <div class='card-body'>
                <h3><center>logout</h3></center>
                <hr>
                <div class='alert alert-info'>
                    You have successfully logged out.
                </div>
              </div> 
            </div> 
          </div> 
        </div>  
    </div>
{% endblock %}    
