<nav class="navbar navbar-expand-lg navbar-light sticky-top" id='navbg'>
    <div class="container-fluid">
      <a class="navbar-brand text-white">ShaBri</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'Store' %}">Store</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Geomatics
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{%url 'level_100'%}">Documents</a></li>
              <li><a class="dropdown-item" href="{%url 'video'%}">Videos</a></li>
              <li><a class="dropdown-item" href="">Download Softwares</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">AGES excutives</a></li>
            </ul>
          </li>
          {%if request.user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link text-white" href="{%url 'logout'%}">Logout</a>
          </li>
          {%else%}
          <li class="nav-item">
            <a class="nav-link text-white" href="{%url 'login'%}">Login</a>
          </li>
          {%endif%}
        </ul>
        <form method='GET' class="d-flex">
          <input class="form-control me-2" name='q' type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" value="{{ query|escape }}">Search</button>
        </form>
      </div>
    </div>
  </nav>